<button (click)="toggle()"  style="margin-left:20px;" class="btn btn-info"> Toggle </button>
<div class="example-header">
    <form >
        <label style="margin-left:10px;">Location Name</label>
        <mat-form-field>
          <mat-select placeholder="--Select Location--" [(ngModel)]="selectedValue" name="location">
            <mat-option *ngFor="let location of locations" [value]="location.value">
              {{location.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
           <button class="btn btn-primary" style="margin-left:10px;" type="submit" (click)="cancel()">Search Tests</button>
           <br><br>

           <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Choose a date"  required>
              <!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="CreatedOn" required> -->
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field>  
      </form>
</div>

<div class="mat-elevation-z8">
  <mat-table  [dataSource]="listData" multiTemplateDataRows matSort>
     <ng-container matColumnDef="FirstName">
       <mat-header-cell *matHeaderCellDef mat-sort-header > First Name </mat-header-cell>
       <mat-cell *matCellDef="let user"> {{user.FirstName}} </mat-cell>
     </ng-container>
 
     <ng-container matColumnDef="LastName">
         <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
           <mat-cell *matCellDef="let user"> {{user.LastName}} </mat-cell>
     </ng-container>

     <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
            <mat-cell *matCellDef="let user">
              <button mat-icon-button color="warn" (click)="deleteUser(user.Id,user.UserName)">
                  <mat-icon class="mat-18">delete</mat-icon>
              </button>
          </mat-cell>
     </ng-container>

     <ng-container matColumnDef="loading">
          <mat-footer-cell *matFooterCellDef colspan="3">Loading data...</mat-footer-cell>
     </ng-container>

     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> 

     <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row> 
     <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>

  </mat-table>

      <mat-paginator  [length]="15" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons>
      </mat-paginator>
</div>
